body {
  padding-top: 40px;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.glyphicon {
  margin-top:200px;
  font-size: 50pt;
  color:blue;
  font-weight:bold;
}